@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;

.productCard {
  border: 1px solid $border-color;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  gap: 8px;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }

  @include breakpoint(lg) {
    flex-direction: column;
  }

  @include breakpoint(xl) {
    flex-direction: row;
  }
}

.image {
  width: 80px;
  height: 150px;
  flex-shrink: 0;
  object-fit: contain;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  flex: 1;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.origin {
  font-size: 14px;
  font-weight: 300;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.colorAndOriginRow {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.colorBadge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
}

.red {
  background-color: #7b0323;
  border: none;
}

.white {
  background-color: #f1f285;
  border: none;
}
