@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.header {
  border-bottom: 1px solid $border-color;
  padding: 12px 0;
  background: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-container;
}

.logo {
  width: 115px;

  @include breakpoint(md) {
    width: 135px;
  }
}

.checkoutContainer {
  display: flex;
  align-items: center;
  gap: 12px;

  @include breakpoint(md) {
    gap: 20px;
  }
}
